*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100vh;
}

body{
    height: 100%;
    background-color: #4af;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
}

.App{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 80%;
    height: 500px;
    max-height: 80%;
    padding: 24px;
    background-color: #eee;
    border-radius: 30px;
}
/* 
.card{
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: stretch;
    margin: auto;
    width: 450px;
    max-width: 80%;
    height: 350px;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}

.card > * {
    margin-top: 24px;
}

.column-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
} */

/* label > input {
    max-width: fit-content;
} */

label > input{
    margin-left: 8px;
    margin-right: 8px;
}